@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poiret+One&family=Viaoda+Libre&display=swap");

:root {
  --color-primary: #232526;
  --color-primary-light: #414345;
  --color-secondary-light: #fff;
  --color-secondary: #ece9e6;
  --size-0: 0.1rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-10: 2.5rem;
  --size-12: 3rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Viaoda Libre", cursive;
  font-size: var(--size-20);
  font-weight: 100;
}

h2 {
  font-family: "Dancing Script", cursive;
  font-size: var(--size-10);
}

button {
  font-family: "Poiret One", cursive;
}
